* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'EB Garamond', serif;
    scroll-behavior: smooth;
    overflow-x: none;
}

section {
    position: relative;
    right: 0;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: rgb(22, 22, 22);
    transition: all .6s ease-in-out;
}

.banner.active {
    right: 300px;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

header .logo {
    color: #ffffff;
    text-transform: uppercase;
    cursor: pointer;
    background-color: #727272 rgba(0, 0, 0, 0.2);
    letter-spacing: .08em;
    text-shadow: 5px 5px 1px #000000;
}

.toggle {
    position: relative;
    width: 60px;
    height: 60px;
    background: url(Menu-MenuSocial/menu.png);
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: center;
    cursor: pointer;
}

.toggle.active {
    background: url(Menu-MenuSocial/close.png);
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: center;
    cursor: pointer;
}

section video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overplay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to left, rgb(121, 121, 121), rgb(255, 255, 255));
    mix-blend-mode: overlay;
}

.text {
    position: relative;
    z-index: 10;
}

.text2 {
    position: relative;
    z-index: 10;
}

.text h2 {
    font-size: 6em;
    font-weight: 800;
    color: #ffffff;
    background-color: #727272 rgba(0, 0, 0, 0.2);
    letter-spacing: .04em;
    text-shadow: 5px 5px 1px #000000;
    line-height: 1em;
    text-transform: uppercase;
}

.text2 h2 {
    font-size: 6em;
    font-weight: 800;
    color: #ffffff;
    background-color: #727272 rgba(0, 0, 0, 0.2);
    letter-spacing: .04em;
    text-shadow: 5px 5px 1px #000000;
    line-height: 1em;
    text-transform: uppercase;
}

.text h3 {
    font-size: 3em;
    font-weight: 700;
    color: #ffffff;
    background-color: #727272 rgba(0, 0, 0, 0.2);
    letter-spacing: .04em;
    text-shadow: 5px 5px 1px #000000;
    line-height: 1em;
    text-transform: uppercase;
}

.text2 h3 {
    font-size: 3em;
    font-weight: 700;
    color: #ffffff;
    background-color: #727272 rgba(0, 0, 0, 0.2);
    letter-spacing: .04em;
    text-shadow: 5px 5px 1px #000000;
    line-height: 1em;
    text-transform: uppercase;
}

.text p {
    position: relative;
    font-size: 1.2em;
    margin: 20px 0;
    font-weight: 400;
    max-width: 700px;
    color: #ffffff;
    filter: drop-shadow(0 0 0.75rem rgb(65, 65, 65));
}

.text2 p {
    position: relative;
    font-size: 1.2em;
    margin: 20px 0;
    font-weight: 400;
    max-width: 700px;
    color: #ffffff;
    filter: drop-shadow(0 0 0.75rem rgb(65, 65, 65));
}

.text a {
    display: inline-block;
    font-size: 1.1em;
    background: #161616;
    padding: 10px 30px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
    margin-top: 10px;
    color: rgb(255, 255, 255);
    letter-spacing: 2px;
    border-radius: 8px;
}

.sci {
    position: absolute;
    z-index: 10;
    bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sci li {
    list-style: none;
}

.sci li a {
    display: inline-block;
    margin-right: 20px;
    filter: invert(1);
    transform: scale(0.5);
}

.menu {
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    transition-delay: 0.5s;
}

.menu ul {
    position: relative;
}

.menu ul li {
    position: relative;
    list-style: none;
    margin: 10px;
}

.menu ul li a {
    text-decoration: none;
    font-size: 25px;
    color: #000000;
}

ul li a:hover {
    background: #ccccccbe;
    border-radius: 8px;
}

ul ul {
    position: static;
    display: none;
}

ul .feat-show.show {
    display: block;
}

ul .serv-show.show1 {
    display: block;
}

ul li a span.rotate {
    transform: translateY(0) rotate(-90deg);
}


@media(max-width: 991px) {
    section,
    section header {
        padding: 40px;
    }
    .text h2 {
        font-size: 3em;
    }
    .text h3 {
        font-size: 2em;
    }
}

#btntop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    height: 40px;
    width: 40px;
    color: #000000;
    background: #ffffff;
    border: none;
    border-radius: 58vh;
    display: none;
    cursor: pointer;
}

.container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
}

.container .card {
    position: flex;
    max-width: 300px;
    height: 215px;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.445);
    margin: 30px 10px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
    transition: 0.3s ease-in-out;
}

.container .card:hover {
    height: 420px;
}

.container .card .imgBx {
    position: relative;
    width: 260px;
    height: 260px;
    border-radius: 10px;
    top: -60px;
    left: 20px;
    z-index: 1;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.050);
}

.container .card .imgBx img {
    max-width: 100%;
    border-radius: 6px;
    width: 260px;
    height: 200px;
}

.container .card .imgBx {
    font-size: 8px;
}

.container .card .content {
    position: relative;
    margin-top: 140px;
    padding: 10px 15px;
    text-emphasis: center;
    color: #111;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
}

.container .card:hover .content {
    visibility: visible;
    opacity: 1;
    margin-top: -40px;
    transition-delay: 0.3s;
}
